html {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

body {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(243, 203, 213, 1), rgba(244, 213, 208, 1), rgba(237, 232, 223, 1), rgba(229, 248, 241, 1));
  background-repeat: no-repeat;
  text-align: center;
  margin: 0px;
  width: 100%;
  height: 100%;
  padding: 0;
}

h1 {
  color: #2e6e80;
  font-size: 20px;
  font-weight: normal;
}

.scroll {
  position: fixed;
}

.horizon {
  z-index: 2;
  width: 10000px;
  height: 20%;
  margin-left: 20%;
}

.middle {
  z-index: 1;
  width: 10000px;
}

.column .row {
  box-sizing: border-box;
  margin-left: 30%;
}
.column {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.row {
  -ms-flex: 100%; /* IE10 */
  flex: 100%;
  max-width: 100%;
  text-align: left;

}

.row img {
  margin-top: 8px;
  vertical-align: middle;
  height: 435px;
  padding: 10px 10px 10px 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .row {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .row {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}


.intropage {
  z-index: 4;
}

.rustlogo {
  position: absolute;
  max-width: 50%;
  max-height: 50%;
  top: 40%;
  left: 40%;
  overflow: visible;
}

.rustlogo img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  animation: rustlogo 5s cubic-bezier(0.25, 0.1, 0.25, 1.0) 0s forwards;
}

@-webkit-keyframes rustlogo {
  0% {
    top: 500px;
    left: 0%;
  }

  100% {
    top: 400px;
    left: 0%;
  }
}

.imgcolumn1 {
  width: 50%;
  float: left;
}

.imgcolumn2 {
  width: 50%;
  float: left;
}

@-webkit-keyframes imgcolumn1 {
  0% {
    top: 0;
    left: -10%;
  }

  100% {
    top: 100px;
    left: -10%;
  }
}

.imgcolumn1 .image1 {
  position: absolute;
  max-width: 35%;
  max-height: 35%;
  top: 15%;
  left: 10%;
}

.imgcolumn1 .image2 {
  position: absolute;
  max-width: 45%;
  max-height: 45%;
  top: 70%;
  left: 25%;
}

.torylogo {
  position: absolute;
  max-width: 50%;
  max-height: 50%;
  top: 40%;
  left: 40%;
  overflow: visible;
}

.torylogo img {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-top: -50%;
  margin-left: -50%;
  animation: torylogo 5s cubic-bezier(0.25, 0.1, 0.25, 1.0) 0s forwards;
}

@-webkit-keyframes torylogo {
  0% {
    top: 0px;
    left: 0%;
  }

  100% {
    top: 100px;
    left: 0%;
  }
}

.imgcolumn1 .image3 {
  position: absolute;
  max-width: 35%;
  height: auto;
  top: 5%;
  left: 31%;
}

.imgcolumn2 .image4 {
  position: absolute;
  max-width: 35%;
  height: auto;
  top: 45%;
  left: 5%;
}

.imgcolumn2 .image5 {
  position: absolute;
  max-width: 45%;
  height: auto;
  top: -25%;
  left: 65%;
}

.imgcolumn2 .image6 {
  position: absolute;
  max-width: 35%;
  height: auto;
  top: 40%;
  left: 80%;
}

.imgcolumn2 .image7 {
  position: absolute;
  max-width: 45%;
  height: auto;
  top: 70%;
  left: 70%;
}

@font-face {
  font-family: Gotham;
  src: url(assets/css/fonts/Gotham-Black.otf);
  font-weight: 400;
}

/* The sidebar menu */
.sidenav {
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  background-image: linear-gradient(rgba(243, 203, 213, 1), rgba(244, 213, 208, 1), rgba(237, 232, 223, 1), rgba(229, 248, 241, 1));
  width: 15%;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 3;
  /* Stay on top */
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding: 5% 2% 2% 2%;
}

.icon {
  padding: 10% 8px 6px 16px;
  width: 100%;
  height: auto;
  max-width: 150px;
}

/* The navigation menu links */
.sidenav a {
  padding: 2% 5% 5% 5%;
  text-decoration: none;
  font-size: 15px;
  font-family: "Gotham";
  color: #ffffff;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a span:hover {
  font-style: italic;
  background-color: #B2B2B2;
}

/* Style page content */
.main {
  margin-left: 160px;
  /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.filler {
  width: 50%;
}

.stack {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.fashion {
  display: none;
}

.beauty {
  display: none;
}

.commissioned {
  display: none;
}

.cinemagraphsgifs {
  display: none;
}

.motion {
  display: none;
}

.about {
  display: none;
}
