html { visibility:hidden; }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 4; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: red;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* hide horizontal scrollbars, since we use the vertical ones to scroll to the right */

body {
  background-attachment: fixed;
  background-image: linear-gradient(rgba(243, 203, 213, 1), rgba(244, 213, 208, 1), rgba(237, 232, 223, 1), rgba(229, 248, 241, 1));
  background-repeat: no-repeat;
  text-align: center;
  margin: auto;
  padding: 0;
}

h1 {
  color: #2e6e80;
  font-size: 20px;
  font-weight: normal;
}

.scroll {
  position: fixed;
}

.horizon {
  z-index: 1;
  width: 6000px;
}

.middle {
  z-index: 2;
  width: 4000px;
}

.logo{
  position: -webkit-sticky;
  position: sticky;
  left: -200px;
}

.front {
  z-index: 3;
  width: 50%;
  height: 50%;
}

.rustlogo {
  position: absolute;
  max-width: 25%;
  max-height: 25%;
  top: 50%;
  left: 35%;
  overflow: visible;
}

.rustlogo img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  position: relative;
  animation: rustlogo 5s cubic-bezier(0.25, 0.1, 0.25, 1.0) 0s forwards;
}

@-webkit-keyframes rustlogo {
  0% {
    top: 300px;
    left: -10%;
  }
  50%{
    top: 200px;
    left: -10%; }

  100% {
    top: 100px;
    left: -130%;
  }
}

.imgcolumn1 {
  width: 50%;
  float: left;
}
.imgcolumn2 {
  width: 50%;
  float: left;
}

@-webkit-keyframes imgcolumn1 {
  0% {
    top: 0;
    left: -10%;
  }
  100% {
    top: 100px;
    left: -10%;
  }
}

.imgcolumn1 .image1 {
  position: absolute;
  max-width: 35%;
  max-height: 35%;
  top: 15%;
  left: 10%;

}

.imgcolumn1 .image2 {
  position: absolute;
  max-width: 45%;
  max-height: 45%;
  top: 70%;
  left: 25%;

}
.torylogo {
  position: absolute;
  max-width: 25%;
  max-height: 25%;
  top: 50%;
  left: 35%;
  overflow: visible;
}

.torylogo img {
  max-width: 100%;
  max-height: 100%;
  /* margin-top: -100%;
  margin-left: -80%; */
  height: auto;
  position: relative;
  animation: torylogo 5s cubic-bezier(0.25, 0.1, 0.25, 1.0) 0s forwards;
}

@-webkit-keyframes torylogo {
  0% {
    top: 200px;
    left: -10%;
  }
  50% {
    top: 225px;
    left: -10%;
  }
  100%{
    top: 250px;
    left: -130%;
  }
}

.imgcolumn1 .image3 {
  position: absolute;
  max-width: 35%;
  max-height: 35%;
  top: 5%;
  left: 31%;

}

.imgcolumn2 .image4 {
  position: absolute;
  max-width: 35%;
  max-height: 35%;
  top: 45%;
  left: 5%;

}
.imgcolumn2 .image5 {
  position: absolute;
  max-width: 45%;
  max-height: 45%;
  top: -25%;
  left: 65%;

}
.imgcolumn2 .image6 {
  position: absolute;
  max-width: 35%;
  max-height: 35%;
  top: 40%;
  left: 80%;

}
.imgcolumn2 .image7 {
  position: absolute;
  max-width: 45%;
  max-height: 45%;
  top: 70%;
  left: 70%;

}

/**
/**
  * important: keep position fixed, you can however use top:0 instead of bottom:0
  * if you want to make it stick to the top of the browser
  */
